.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 100%;
}

.hero p, .hero p code {
  font-size: 1.5rem;
  font-weight: 400;
}

.editableContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.editable, .editable:focus, .editable:hover, .editable:active {
  padding: 0.5rem;
  border: none!important;
  outline: none!important;
  width: calc(100% - 12rem)!important;
  resize: none;
}